body {
    background-color:rgb(148, 216, 246);
    font-family:'Times New Roman', Times, serif;
}

.boxes {
    width: 40%;
    display: inline-block;
    text-align: center;
    color:white;
    background-color: rgb(103, 31, 170);
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}